.notification
.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        sample
        / ユーザーネーム仮置き
      = link_to "/", :class => "chat-side__user-new-group" do
        %i.fa.fa-pencil-square-o
      = link_to "/", :class => "chat-side__user-edit-user" do
        %i.fa.fa-cog
          / href仮置き
  .chat-side__groups
    .chat-side__groups_list
      /グループリスト仮置き
      = link_to '/' do
        .chat-side__group
          .chat-side__group-name
            グループ名
          .chat-side__group-message
            メッセージ
      = link_to '/' do
        .chat-side__group
          .chat-side__group-name
            グループ名
          .chat-side__group-message
            メッセージ


.chat-main
  .chat-main__header
    .chat-main__header-group.clearfix
      .chat-main__header-group-name
        開いているグループ名
      = link_to '/', { :class => 'chat-main__header--group-edit-btn'} do
        edit
    .chat-main__header-members
      MEMBER:
      %i
        メンバー名
  .chat-main__body
    .chat-main__body--messages-list
      /チャットメッセージ仮置きここから
      %div{ :class => 'chat-main__message clearfix', :data-id => '/'}
        .chat-main__message-name
          チャット名
        .chat-main__message-time
          メッセージ投稿時間
        .chat-main__message-body
          チャット
          = image_tag "", :class => 'chat-main__message-body-image'
      %div{ :class => 'chat-main__message clearfix', :data-id => '/'}
        .chat-main__message-name
          チャット名
        .chat-main__message-time
          メッセージ投稿時間
        .chat-main__message-body
          チャット
          = image_tag "", :class => 'chat-main__message-body-image'
      %div{ :class => 'chat-main__message clearfix', :data-id => '/'}
        .chat-main__message-name
          チャット名
        .chat-main__message-time
          メッセージ投稿時間
        .chat-main__message-body
          チャット
          = image_tag "", :class => 'chat-main__message-body-image'
          /チャットメッセージ仮置きここまで

  .chat-main__footer
    = form_tag "/", method: :post , :id => "new_message", :class => "chat-main__footer-form" do
      .chat-main__footer-body
        %input#message_body.message{:name => "text", :placeholder => "type a message", :type => "text"}
        %label.chat-file{:for => "message_image"}
          %input#message_image.image{:name => "image", :type => "file"}
          %i.fa.fa-image
      %input.submit{:type => "submit", :value => "Send"}

